{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% block content %}

    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Blog Details</h1>
            <p class="breadcrumbs"><span class="mr-2">
              <a href="{% url 'website:index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> 
              <span class="mr-2"><a href="{% url 'blog:index' %}">Blog <i class="ion-ios-arrow-forward"></i></a></span> 
              <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 order-md-last ftco-animate py-md-5 mt-md-5">
            <h2 class="mb-3">{{post.title}}</h2>
              <img src="{{ post.image.url }}" alt="" class="img-fluid">
            <p>{{post.content}}</p>
            <div class="author mb-3">
                          <span>
                              <i class="flaticon-user"></i>
                             <a href="{% url 'blog:author' author_username=post.author.username %}" class="tag-cloud-link">By {{ post.author.username }}</a>
                          </span>
                       </div>
                       <div>
                                <i class="flaticon-user"></i>
                                {{ post.published_date|date:"F d, Y" }}
                        </div>
                      <div class="tag-widget post-tag-container mb-5 mt-5">
                        <div class="tagcloud">
                        {% for cat in post.category.all %}
                          <a href="{% url 'blog:category' cid=cat.id %}" class="tag-cloud-link">{{cat.name}}</a>
                        {% endfor %}
                        </div>
                      </div>
            <div class="pt-5 mt-5">
              <h3 class="mb-5">{{comments|length}} Comments</h3>
              <ul class="comment-list">
              {% for comment in comments %}
                <li class="comment">
                  <div class="vcard bio">
                    <img src="{% static 'images/person_1.jpg' %}" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <h3>{{comment.name}}</h3>
                    <div class="meta">{{comment.created_date}}</div>
                    <p> {{comment.message}}</p>
                  </div>
                </li>
              {% endfor %}
              </ul>
              <!-- END comment-list -->
              
              <div class="comment-form-wrap pt-5">
                <h3 class="mb-5">Leave a comment</h3>
                <form method='post' action="{% url 'blog:single' pid=post.id %}" class="p-5 bg-light">
                  {% csrf_token %}
                  <div class="form-group">
                    <label for="name">Name *</label>
                    <input type="text" class="form-control" name="name">
                  </div>
                  <div class="form-group">
                    <label for="email">Email *</label>
                    <input type="email" class="form-control" name="email">
                  </div>
                  <div class="form-group">
                    <label for="Subject">Subject</label>
                    <input type="text" class="form-control" name="subject">
                  </div>
                  <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" cols="30" rows="10" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                  </div>
                  {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-{{ message.tags }}">
                              {{ message }}
                          </div>
                      {% endfor %}
                  {% endif %}

                </form>
              </div>
            </div>

          </div> <!-- .col-md-8 -->
          <div class="col-lg-4 sidebar ftco-animate bg-light py-md-5">
            <div class="sidebar-box pt-md-5">
              <form action="#" class="search-form">
                <div class="form-group">
                  <span class="icon icon-search"></span>
                  <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
                </div>
              </form>
            </div>
          {% postcategories  %}

          {% recent_posts %}

        {% include "blog/blog_tags.html" %}

          {% include 'blog/travel-information.html' %}
          </div>

        </div>
      </div>
    </section> <!-- .section -->    
  </body>
</html>
{% endblock content %}