{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block content %}
    
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">Travel Tips &amp; Blog</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'website:index' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    <div class="container">
        <div class="row d-flex">
            {% for post in posts %}
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry justify-content-end">
                    <a href="{% url 'blog:single' pid=post.id %}" 
                       class="block-20"
                       style="background-image: url('{{ post.image.url }}');">
                    </a>
                    <div class="text mt-3 float-right d-block">
                        <div class="d-flex align-items-center mb-4 topp">
                            <div class="one">
                                <span class="day">
                                    {{ post.published_date|date:"d" }}
                                </span>
                            </div>
                            <div class="two">
                                <span class="yr">
                                    {{ post.published_date|date:"Y" }}
                                </span>
                                <span class="mos">
                                    {{ post.published_date|date:"F" }}
                                </span>
                            </div>
                        </div>
                        <div class="author mb-3">
                          <span>
                              <i class="flaticon-user"></i>
                             <a href="{% url 'blog:author' author_username=post.author.username %}"> 
                                By {{ post.author.username }}
                             </a>
                          </span>
                       </div>
                        <h3 class="heading">
                            <a href="{% url 'blog:single' pid=post.id %}">
                                {{ post.title }}
                            </a>
                        </h3>
                        <p>
                            {{ post.content|truncatechars:150 }}
                        </p>
                    </div>
                  
                  <div class="tag-widget post-tag-container mb-5 mt-5">
                    <div class="tagcloud">
                    {% for cat in post.category.all %}
                      <a href="{% url 'blog:category' cid=cat.id %}" class="tag-cloud-link">{{cat.name}}</a>
                    {% endfor %}
                    </div>
                  </div>

                </div>
            </div>
            {% endfor %}
        </div>
         <div class="sidebar-box ftco-animate">
                <form action="{% url 'blog:search' %}" method="get">
                    <div class="my-search-box">
                        <input  type="text" name="q" placeholder="Search posts..." value="{{ request.GET.q|default:'' }}">
                        <button type="submit">
                            🔍
                        </button>
                    </div>
                </form>
            </div>
            <div class="row mt-5">
              <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            <ul>
                                {% if posts.has_previous %}
                                    <li>
                                        <a href="?page={{ posts.previous_page_number }}">&lt;</a>
                                    </li>
                                {% endif %}


                                {% for num in posts.paginator.page_range %}
                                    {% if posts.number == num %}
                                        <li class="active">
                                            <span>{{ num }}</span>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="?page={{ num }}">
                                                {{ num }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if posts.has_next %}
                                    <li>
                                        <a href="?page={{ posts.next_page_number }}"> &gt;</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock content %}