        <div class="sidebar-box ftco-animate">
              <h3>Recent Posts</h3>
              {% for post in posts %}
                <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4"
                href="{% url 'blog:single' pid=post.id %}"
                style="background-image: url('{{ post.image.url }}');">
                </a>
                <div class="text">
                    <h3 class="heading">
                        <a href="{% url 'blog:single' pid=post.id %}">
                            {{ post.title }}
                        </a>
                    </h3>
                    <div class="meta">
                        <div>
                                <i class="flaticon-user"></i>
                                {{ post.published_date|date:"F d, Y" }}
                        </div>
                        <div>
                            <a href="#">
                                <i class="flaticon-user"></i>
                                {{ post.author.username }}
                            </a>
                        </div>
                        <div>
                                <i class="flaticon-user"></i>
                                {{ post.counted_view }} Viwes
                        </div>
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>